.navy {
  width: 10%;
  height: calc(100vh - 200px);
  background: #ccc;
  padding: 30px;
  margin-top: 75px;
  display: flex;
  justify-content: center;
  position: fixed;
  padding-top: 4px;
  overflow: scroll;
}

.navy li {
  list-style-type: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 15px;
}
.navy a {
  text-decoration: none;
}
article {
  float: left;
  padding-top: 5rem;
  padding-left: 22rem;
  color: rgba(17, 14, 14, 0.217);
  font-family: fantasy;
  text-align: center;
  font-size: 2rem;
}
.main {
  background-color: red;
  width: 300px;
  border-radius: 5%;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  margin-left: 40%;
  margin-top: 20%;
}
/* .buddha {
  width: 100%;

  display: block;
} */
